<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\ProjectNest.Server.exe" arguments="" stdoutLogEnabled="false" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="Sharing__Database" value="ProjectNestSharing" />
          <!-- Replaced by .github/workflows/deploy-sharing.yml. Do not put a real password here. -->
          <environmentVariable name="Sharing__ConnectionString" value="__SHARING_CONNECTION_STRING__" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
